.color-block {
  border-radius: 5px;
}

.color-block--blue {
  background-color: #130c89;
}

.color-block--red {
  background-color: #d93422;
}

.color-block--yellow {
  background-color: #f8db6e;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  opacity: 0;
}

img:hover {
  opacity: 1;
}
