.color-block {
  position: relative;
  border-radius: 5px;
  --animation-duration: 150ms;
}

.color-block:hover .name-and-date {
  background-color: #686868;
  opacity: 0.8;
  animation: fadeNameAndDate var(--animation-duration);
}

.color-block--blue {
  background-color: #130c89;
}

.color-block--red {
  background-color: #d93422;
}

.color-block--yellow {
  background-color: #f8db6e;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  opacity: 0;
}

.color-block:hover img {
  opacity: 1;
  animation: fadeImage var(--animation-duration);
}

.name-and-date {
  position: absolute;
  bottom: 10px;
  left: 10px;

  display: flex;
  flex-direction: column;

  font-weight: bold;
  color: #fff;

  border-radius: 5px;
  padding: 5px;
}

@keyframes fadeImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeNameAndDate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
