.color-block {
  width: 15vw;
  height: 20vh;
}

.color-block--blue {
  background-color: #130c89;
}

.color-block--red {
  background-color: #d93422;
}

.color-block--yellow {
  background-color: #f8db6e;
}
